# LaTeX build products
*.aux
*.bbl
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.toc
*.lof
*.lot
*.acn
*.acr
*.alg
*.fls
*.fdb_latexmk
*.synctex.gz
_minted-*
thesis.pdf

# Python
__pycache__/
*.pyc

/build/
/.idea/
